@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #003b46;
$primary-light: #07575b;
$secondary-dark: #61a4ad;
$secondary-color: #c0dee5;
$danger-light: #fecc98;
$shadow: 0 0 10px #07575b;

// Center All Elements with Flex
@mixin flex-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $primary-color;
}

body {
  background: $secondary-dark;
  min-height: 100vh;

  @include flex-center();
}

#tasks-section {
  @include flex-center();

  width: 350px;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;
}

#tasks-section > button {
  background: $secondary-color;
  padding: 5px 10px;
  border: none;
  width: calc(100% - 1px);
  transition: 0.2s;
}

#tasks-section > button:hover {
  background-color: $secondary-dark;
}

#tasks-section > button:active {
  background-color: $primary-light;
  color: $secondary-dark;
}

#todo-prompt,
#todo {
  background: $secondary-color;
  padding: 5px 10px;
  width: calc(100% - 22px);
  border-bottom: 1px solid $secondary-dark;
}

#todo-form {
  width: 100%;
  position: relative;
}

#todo-form :nth-child(1) {
  width: calc(100% - 55px);
}

#todo-form input[type="submit"] {
  position: absolute;
  top: 3px;
  height: calc(100% - 5px);
  width: 30px;
  font-size: 20px;
  background: $secondary-color;
  color: $primary-light;
  font-weight: 900;
  right: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#todo-form input[type="submit"]:hover {
  color: $secondary-dark;
  background: $primary-light;
}

#todo {
  border: 1px solid $secondary-dark;
  font-size: 16px;
  font-style: italic;
  width: 100%;
}

#todo:active,
#todo:focus {
  border: 1px solid $secondary-dark;
  outline: none;
}

#tasks {
  background: $secondary-color;
  list-style: none;
  width: 100%;
}

.task {
  display: flex;
  gap: 30px;
  border: 1px solid $secondary-dark;
  padding: 10px 20px;
}

.task.edit {
  border: 3px solid $danger-light;
  padding: 8px 18px;
}

.task textarea {
  background: none;
  font-size: 16px;
  border: none;
  outline: none;
  width: 221px;
  caret-color: $primary-light;
}

.task i {
  color: $primary-light;
  padding-inline: 5px;
  margin-left: auto;
  cursor: pointer;
}

.task > .dots {
  cursor: all-scroll;
}
