@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #003b46;
$primary-light: #07575b;
$secondary-dark: #61a4ad;
$secondary-color: #c0dee5;
$shadow: 0 0 10px #07575b;

// Center All Elements with Flex
@mixin flex-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: $secondary-dark;
  min-height: 100vh;
  @include flex-center()
}

#tasks-section {
  @include flex-center();
  width: 350px;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;
}

#todo-prompt, #todo {
  background: $secondary-color;
  padding: 5px 10px;
  width: calc(100% - 22px);
  border-bottom: 1px solid $secondary-dark;
}

#todo {
  border: 1px solid $secondary-dark;
  font-size: 16px;
  font-style: italic;
}

#todo:active , #todo:focus{
  border: 1px solid $secondary-dark;
  outline: none;
}

#tasks {
  background: $secondary-color;
  list-style: none;
  width: 100%;
}

.task {
  display: flex;
  gap: 30px;
  border: 1px solid $secondary-dark;
  padding: 10px 20px;
}

.dots {
  color: $primary-light;
  padding-inline: 5px;
  margin-left: auto;
  cursor: all-scroll;
}
